@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 10px 10px;
}
/* body {
  background-color: #ffffff;
} */
header {
  background-color: #6a1fe2;
  margin: 0;
  height: 50vh;

  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 10%;
  min-width: 100%; */
}
a:nth-child(1) {
  color: #080757;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: aliceblue;
}
.logo {
  position: relative;
  top: -50px;
  width: 30px;
}
.nav-item-active {
  font-size: 10px;
  background-color: #397ee6;
  color: #ffffff;
  padding: 5px 10px;
}
.header-text {
  position: relative;
  top: -40px;
  color: #ffffff;
  font-size: 15px;
}
.header-text h2 {
  position: relative;
  font-size: 15px;
  font-weight: 100;
}
.header-text p {
  font-size: 10px;
  color: #e6f3f3;
  font-weight: 20;
}
.header-image {
  background-image: none;
  position: relative;
  top: -195px;
  left: 185px;
  width: 350px;
  height: 250px;
}
.intro-section {
  font-size: 20px;
}
p {
  font-size: 8px;
}
.intro-section {
  position: relative;
  left: 220px;
  top: 50px;
}
.mid {
  width: 250px;
}

.mid-image {
  width: 250px;
  position: relative;
  right: 280px;
  bottom: 300px;
}
.left-section h4 {
  font-size: 20px;
}
.api {
  position: relative;
  bottom: 250px;
  right: 100px;
  text-align: center;
}
.cards {
  position: relative;
  right: 100px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 25px; */
}
.card {
  width: 200px;
  height: 170px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #9e9b9b;
  border-radius: 10px;
}
.card-head1 {
  width: 100px;
  font-size: 10px;
}
.card-head {
  font-size: 10px;
  width: 100px;
}
.card-head1,
.card-body1 {
  background-color: #8376cf;

  color: azure;
  /* border-radius: 5px; */
}
.card-head1 {
  padding: 2.5px 20px;
  border-radius: 5px 5px 0px 0px;
}
.card-body1 {
  position: relative;
  bottom: 10px;
  padding: 2.5px 20px;
  border-radius: 0px 0px 5px 5px;
}
.card-logo1 {
  background-color: none;
}
.first-section {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}
@media  only screen and (max-width:768px) {
  body{
    background-color: #841897;
  }
  a.nav-item{
    display:none;
  }
  
}
